!.gitignore
.DS_Store
.vagrant
virtual
*.egg-info
*.pyc
.coverage
coverage.xml
covhtml
nosetests.xml
pylint*
.tox/
docs/build/
build/
dist/
logs/
activate.*
deactivate.*
config.local.*
setup.py~
.idea/
htmlcov/
*.html
tests/test_plots/
.asv
